:host {
  display: block;
}

.container {
  border: 1px solid;
  background: rgb(233,236,239);
  background: linear-gradient(180deg, rgba(233,236,239,1) 26%, rgba(173,181,189,1) 78%);  width: 900px;
  height: 900px;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
  --hue: 0deg;
  --contrast: 5%;
  --saturation: 150%;
  --brightness: 100%;
  --blur: 1px;
}

.frame {
  padding: 15px 15px 55px 15px;
  background-color: white;
  width: 300px;
  will-change: transform;
  transition: transform .15s linear;
  position: absolute;
}

.frame img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: filter 4s ease-in;
  filter: hue-rotate(var(--hue)) contrast(var(--contrast)) saturate(var(--saturation)) brightness(var(--brightness)) blur(var(--blur)) !important;
}

/* .develop { */
/*   transition: filter 4s ease-in; */
/* } */
